extends ./layout/app

block contenido 
    div(class="py-10")
        h2(class="font-extrabold text-4xl text-center uppercase pt-10")= pagina
        div(class=" bg-white md:w-3/5 mx-auto")
            img(src="/img/detective.jpg", alt="imagen no encontrado" class="w-full mt-10 mx-auto border border-white p-5 shadow-lg rounded-lg")