extends ../layout/index

block contenido 
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-zinc-600 Bienes
            span.font-normal.text-indigo-500 Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        p.text-lg.bg-indigo-200.border-solid.border-2.border-indigo-700.text-indigo-500.text-center.py-2.font-bold.shadow-xl.my-10= mensaje